 
/* 
 div above nav */
.ro-nav-head{
  z-index: 99;
  position: fixed;
top: 0;
margin: 0;
  padding: 0;
}

.ro-nav2{
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  width: 100%;
  
  position: relative;
}
a:hover,.ro-nav-head p:hover,.ro-nav-head span:hover{
  color: #eb0028;
  transition-duration: 0.8s;
}


/* to top button*/
.toTop{
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 20px;
  border-radius: 50%;
  right: 20px;
  background-color: #252525;
  color: white;
  border: none;
  z-index: 40;
}
.toTop:hover{
  background-color: red;

  transition-duration: 0.5s;
}
/* end to top */


/* start navbar */

.navbar {
  position: fixed;
  background-color: white;

  z-index: 10;
  top: 0;
}
.ro-nav-list li {
  list-style: none;
}

.ro-nav-list li a {
  text-decoration: none;
  color: #252525;
}
.ro-nav-list li a:hover{
  color: #eb0028;
}

.ro-hr {
  display: inline-block;
  border-bottom: 1px solid #ccc;
  padding-bottom: 15px;
  font-weight: bolder;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show,
.nav-link a {
  color: #252525;
  font-weight: bold;
}

.ro-nav-item .nav-item {
  margin: 1px 0.3rem;

}

.ro-bg-li:hover {
  background-color: rgb(239, 80, 44);
  border-radius: 5px;
  color: white;
}

.ro-drop {
  max-height: 200px;
  overflow-y: scroll;
  margin-top: -20px;
  border-radius: 0;
}

.ro-drop img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.ro-flag {
  width: 25px;
  height: 25px;
  margin-right: 8px;
}

/* end navbar */

/* ------------------------- */


/*start carosel */

#carouselExampleCaptions {
  margin: 0;
  margin-top: 60px;
}



.ro-position {
  position: relative;

}

.ro-right-cap {
  position: absolute;
  display: inline-block;

  z-index: 5;
  width: 40%;
  left: 50%;


  top: 20%;

}

.ro-right-cap2 {
  position: absolute;
  top: 15%;

  z-index: 5;
  width: 40%;
  left: 5%;
  color: #252525;

}

.big-p {
  font-size: 4.5rem;
  font-weight: bolder;
}

.ro-carousel-btn {
  padding: 12px 50px;
  background-color: transparent;
  color: white;
  border-radius: 25px;
  border: 3px solid white;
  margin-top: 10px;
  font-size: 20px;

}

.ro-right-cap2 .ro-carousel-btn {
  color: #252525;
  border: 3px solid #252525;
  font-weight: 600;

}

.ro-carousel-btn:hover {
  background-color: red;
  transition: 1s;
  border-color: red;
}

/* end carousel */
.essntial {
  position: relative;
  padding-top: 30px;
  overflow-y: hidden;
}

/* start pulse */
.ro-height {
  height: 900px;
  overflow-y: hidden;
}

.pulse-1,
.pulse-2,
.pulse-3,
.pulse-4 {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: black;
  animation: animat 2s linear 2s infinite;
  z-index: 3;
  margin-right: 10px;
  position: absolute;
}

.h-hr {
  position: absolute;
  width: 1px;
  height: 120px;
  background-color: #252525;
  z-index: 8;
  text-align: center;
}

.h-hr-2 {
  height: 200px;
}

.ro-mobile-point {
  position: absolute;
  width: 100%;
  bottom: 39.5%;
}

.ro-mobile-point .pulse-4 {
  right: 12%;
}

.ro-mobile-point .pulse-3 {
  right: 40%;
}

.ro-mobile-point .pulse-2 {
  left: 15%;
}
.ro-mobile-point .pulse-1 {
  left: 36.5%;
}

@keyframes animat {

  0% {
    box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.7), 0 0 0 0 rgba(255, 0, 0, 0.7);

  }

  40% {
    box-shadow: 0 0 0 10px rgba(255, 0, 0, 0), 0 0 0 0 rgba(255, 0, 0, 0.7);
  }

  70% {
    box-shadow: 0 0 0 10px rgba(255, 0, 0, 0), 0 0 0 10px rgba(255, 0, 0, 0.5);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(255, 0, 0, 0), 0 0 0 10px rgba(255, 0, 0, 0.5);
  }

}


.ro-margin-top {
  margin-top: 140px;
  width: 200px;
  text-align: center;
  transform: translateX(-50%);
}

.ro-margin-top-2 {
  margin-top: 220px;

}


/*start mobile center*/
.ro-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.ro-box {
  display: flex;
  gap: 25px;
  margin: 25px 5px;
  margin: auto;
  margin-bottom: 25px;
}

.first-child img,
.third-child img {
  width: 100px;
  object-fit: contain;
}


/* start customer accordion */
.re-customer {
  background-image: url("../images/footer_ad0f20f1-29b5-4188-8127-a6667ac6aea9.jpg");
}
.ro-accordion{
  display: flex;
  justify-content: space-between;
}
.accordion{
  width: 500px; 
  margin: auto;
}
.accordion-button::after {
  background-image: none;
  content: "+";
    position: absolute;
    right: 5px;
    top: 15%;
    display: block;
    width: 15px;
    height: 15px;
    font-size: 30px;
}
button.accordion-button.collapsed{
  font-size: 20px;
}
.accordion-button:not(.collapsed)::after {
  background-image: none;
  content: "-";
    position: absolute;
    right: 5px;
    top: 75%;
    display: block;
    font-weight: bolder;
    height: 15px;
    width: 15px;
    font-size: 30px;
}

.accordion .accordion-item,.accordion-item h2 button{
  background-color: transparent;
  color: white;
  border: none;
  width: 100%;
  display: block;
}
.accordion-item h2 button {
  border: none;
}
/* end customer */


/* start new arrival */
 .ro-swiper-img{
  height: 250px;
  object-fit: contain;
  margin: 20px 0;
}
 .ro-card-body{
  background-color: #eee;
  font-size: 18px;
}

.card-title{
  font-size: 23px;
  color: #eb0028;
} 

.slide-container{
  max-width: 1200px;
  width: 100%;
}
/* end new arrival */
/* start footer */
footer{
  background-image: url("../images/footer_ad0f20f1-29b5-4188-8127-a6667ac6aea9.jpg");
}
.btn-email{
  max-width: 400px;
  width: 100%;
  position: relative;
  margin: 40px auto;

}
footer input{
  max-width: 400px;
  width: 100%;
  border-radius: 30px;
  padding: 10px;
}
.btn-email button{
  position: absolute;
  width: 35px;
  height: 35px;
  background-color: black;
  color: white;
  right: 5px;
  top: 6px;
  z-index: 60;
  border-radius: 50%;
}
.btn-email button:hover{
  background-color: red;
  border-color: red;
  transition-duration: 0.8s;
}

.ro-footer-ul{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  
}
.ro-footer-ul li{
  margin: 5px 15px;
  list-style: none;
  
}
.ro-footer-ul a{
  color: white;
  text-decoration: none;

}
.ro-footer-img{
  height: 20px;
  width: 30px;
 
  object-fit: fill;
}
.div-footer{
  padding: 10px;
  background-color: #ccc;
}
.div-footer p{
  margin: 0;
  padding: 0;
}
/* end footer */



@media screen and (max-width: 1150px) {
  .slidesContainer {
    width: 38.9em;
  }

  html {
    font-size: 13px;
  }

  .big-p {
    font-size: 30px;
    font-weight: bolder;
  }

  .ro-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .second-child {

    grid-area: 1/1/2/3;
    margin: auto;
    text-align: center;
  }

  .ro-box {
    flex-direction: column;
    gap: 0;
  }

  .first-child {
    direction: rtl;
  }

  .first-child .ro-box {
    flex-direction: column-reverse;
  }
  .ro-accordion{
    flex-direction: column;
    gap: 30px;
  }

}

@media screen and (max-width:992px) {
  .essntial-flex {
    flex-direction: column;
    gap: 30px;
  }

  .ro-margin-top {
    width: 100px;
  }
  
}

@media screen and (max-width: 736px) {
  .slidesContainer {
    width: 19.3em;
  }

  .big-p {
    font-size: 18px;
    font-weight: bolder;
  }
  .carousel-inner{
    height: 35vh;
  }
  
.ro-right-cap2{
  top: 0;
  right: 0;
  left: 0;
  position: absolute;
  z-index: 80;
}

  .ro-right-cap,  .ro-right-cap2{
    background-color: white;
    position: absolute;
    height: fit-content;

    max-width: 300px;
    width: 100%;
    transform: translate(-50%,15%);
    top: 0;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 20px;
    margin: 5px auto;
    color: black;
    z-index: 10;
  }
  .ro-right-cap2{
    transform: translate(0,15%);
  
  }
  
  .ro-carousel-btn {
    color: black;
    border-color: black;
  }

  .ro-height {
    height: 500px;
  }

  .navbar{
    position: absolute;
    top: 0;
    z-index: 25;
  }
}


@media screen and (max-width:600px) {
  .ro-grid {
    grid-template-columns: 1fr;
  }

  .second-child {

    grid-area: 1/1/2/2;
    margin: auto;
  }

  .ro-grid div {
    margin: auto;
  }

  .ro-box {
    flex-direction: column;
    text-align: center;

  }

  .first-child .ro-box {
    flex-direction: column-reverse;
  }

  .ro-box img {
    margin: auto;
  }
  .accordion{
    width: 400px;
  }
  .accordion-header{
    font-size: 16px;
  }
  .accordion .accordion-button{
    font-size: 14px;
  }
  .ro-nav-head{
    display: none;
  }
}

@media screen and (max-width: 450px) {
  .ro-height {
    height: 300px;
  }
  .accordion{
    width: 250px;
  }
  .ro-right-cap{
    transform: translate(-50%,0);
  }
  .ro-right-cap2{
    transform: translate(0,0);
  }
  .px-4 ,.px-5{
    padding-left: 0 !important;
    padding-right: 0  !important;
  }
}